body{
  background: :  black;

}
h1{
  text-shadow: 2px #02010a;
  font-size: 1vw;
}
h5{
  text-align: center;
  font-size: 1vw;
}
p{
  font-size: 1vw;
  text-align: left;
}

a:link, a:visited {
	padding: 0 1px;
	text-decoration: underline;
	color: blue;
}

#imagenSecundaria-1 img:hover {
transform: rotate(10deg);
}

#imagenSecundaria-2 img:hover {
  width: 420px;
  height: -415px;
  transition: width, 1s;
  transition: height, 0.05s;
  box-shadow: 10px;
}



.contenedorPrincipal {
    margin-left: 5%;
      width: 90%;
    margin-right: 5%;
    animation-duration: 1.5s;
    animation-name: slidein;
  }

  .colorFondo{
    background: black;
    margin: 0;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  @keyframes slidein {
    from {
      margin-top:   100%;
      width: 90%
    }
    to {
      margin-top:   0%;
      width: 90%;
    }
  }

.container {
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
  background:  #5b7989;
  font-family: 'Satisfy', cursive;
  width: 100%;
  margin: 0;
  position: fixed top;
  border-radius: 30px 30px 0px 0px;
}

.containerFooter {
display: flex;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
background:   #C6d5c5;
border-radius: 0px 0px 30px 30px ;
font-family: 'Pacifico', cursive;
width: 100%;
margin: 0;
position: fixed  bottom ;
font-size: 1vw;

}
.containerimagenPrincipal{
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  background:   #82c3a6;
}
.containerimagenSecundaria{
    width: 100%;
    background: #d5c75f;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

#imagenSecundaria-1{
  width: 50%;

}
#imagenSecundaria-2{
  width: 50%;
}
#paisaje-1{
  -webkit-filter:blur(10px);
}
#paisaje-3{
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
}
#paisaje-2,#paisaje-4,#paisaje-6{
  -webkit-filter:grayScale(100%);
  filter: grayScale(100%);
}

#retrato-1{
  -webkit-filter:blur(10px);
}
#retrato-3{
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
}
#retrato-2,#retrato-4,#retrato-6{
  -webkit-filter:grayScale(100%);
  filter: grayScale(100%);
}


/*configuracion para escritorios */
@media (min-width: 1200px) and (max-width: 1920px) {
  p{
    text-align: justify;
  }
  h1{
    font-size: 2vw;
  }
  .ladoIzquierdo{
		width: 50%;
    text-align: left;
	}
  .ladoDerecho{
    width: 50%;
    text-align: right;
    margin: auto;
  }
  .container
{
	width: 100%;
	margin: 0 auto;
  font-size: 1.4vw;
}

.ContainerimagenSecundaria{
  width: 100%;
  background: blue;
}
.containerFooter{
  font-size: 5vw;
}
.imagenFacebook,.imagenInstagram{
  align-items: center;
  text-align: center;
}

#imagenPrincipal-1{
  margin-left: 15%;
  width: 70%;
  margin-right: 15%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
#imagenSecundaria-1, #imagenSecundaria-2{
  margin-left: 7.5%;
  width: 35%;
  margin-right: 7.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.contacto, .terminos,.redesSociales,.derechos{
  width: 25%;
  text-align: center;
  font-size: 1vw;
}
#paisaje-1, #paisaje-2,#paisaje-3,#paisaje-4,#paisaje-5,#paisaje-6{
margin-left: 5%;
  width: 23.3%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  text-align: center;
  font-size: 1vw;
}
#retrato-1, #retrato-2,#retrato-3,#retrato-4,#retrato-5,#retrato-6{
margin-left: 5%;
  width: 23.3%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  text-align: center;
  font-size: 1vw;
}
}

/*configuracion para dispositivos escritorios pequeños */
@media (min-width: 721px) and (max-width: 1200px){

  p{
    text-align: justify;
  }
  h1{
    font-size: 2vw;
  }

  .containerFooter{
    font-size:5vw;
  }
  .ladoDerecho{
    width: 50%;
    text-align: right;
    margin: auto;
  }
  #imagenPrincipal-1{
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
  }
  #imagenSecundaria-1,   #imagenSecundaria-2{
    margin-left: 5%;
    width: 40%;
    margin-right: 5%;
  }
  #paisaje-1, #paisaje-2,#paisaje-3,#paisaje-4,#paisaje-5,#paisaje-6{
  margin-left: 5%;
    width: 23.3%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    font-size: 1vw;
  }

  #retrato-1, #retrato-2,#retrato-3,#retrato-4,#retrato-5,#retrato-6{
  margin-left: 5%;
    width: 23.3%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    font-size: 1vw;
  }
  .contacto, .terminos,.derechos{
    width: 25%;
    text-align: center;
    font-size: 1vw;
  }
  .redesSociales{
    align-items: center;
    width: 25%;
    text-align: center;
    font-size: 1vw;
  }
}

/*configuracion para dispositivos tablets */
@media (min-width: 481px)and (max-width: 720px){
  p{
    text-align: justify;
    font-size: 1.5vw;
  }
  h1{
    font-size: 3vw;
    text-align: center;
  }

  .ladoIzquierdo{
		width: 50%;
    text-align: left;
	}

  .ladoDerecho{
    width: 50%;
    text-align: right;
    margin: auto;
  }
  #imagenPrincipal-1{
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
  }
  .ContainerimagenSecundaria{
    width: 100%;
  }
  .contacto, .terminos,.redesSociales,.derechos{
    width: 25%;
    text-align: center;
    font-size: 1.5vw;
  }

  #imagenSecundaria-1{
    margin-left: 5%;
    width: 40%;
    margin-right: 5%;
  }
  #imagenSecundaria-2{
    margin-left: 5%;
    width: 40%;
    margin-right: 5%;
  }
}
/*configuracion para dispositivos moviles */
@media (max-width: 480px){
  .contenedorPrincipal {
      margin-left: 5%;
        width: 90%;
      margin-right: 5%;
    }
	.ladoIzquierdo {
		width: 100%;
    text-align: center;
	}

  .ladoDerecho {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-left: 0 auto;

  }
  .Container{
    text-align: center;
    align-items: center;
  }

  .contacto, .terminos,.redesSociales,.derechos{
    width: 100%;
    text-align: center;
    font-size: 4vw;
  }

  #imagenPrincipal-1, #imagenSecundaria-1, #imagenSecundaria-2{
    margin-left: 15%;
    width: 70%;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  #paisaje-1, #paisaje-2,#paisaje-3,#paisaje-4,#paisaje-5,#paisaje-6{
  margin-left: 15%;
    width: 70%;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    font-size: 1vw;
  }

  #retrato-1, #retrato-2,#retrato-3,#retrato-4,#retrato-5,#retrato-6{
  margin-left: 15%;
    width: 70%;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    font-size: 1vw;
  }


  p{
    font-size: 5vw;
    text-align: center;
  }

  h1{
    font-size: 7vw;
    text-align: center;
  }

}
